body{
	color: #111;
	font-size: 12px;
	height: 610px;
	width: 1000px;
	min-width: 1000px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 8px rgba(204,204,204,0.4);
	border-radius: 4px;
}
a{
	color: #111;
}
.nav{
	border-radius:4px 0 0 4px;
	
	height: 610px;
	width: 60px;
	float: left;
	background: #262626;
}
.nav img{
	margin: 20px auto;
	display: block;
	border-radius:4px;
	height: 40px;
}
.fun{
	margin-top: 26px;
	text-align: center;
	color: #fff;
	font-size: 26px;
}
.fun:hover{
	color: #0095F2;
}
.content{
	border-radius: 0 4px 4px 0;
	height: 608px;
	width: 100%;
	border:1px solid #DADADA;
	border-left: none;
s}
.list{
	float: left;
	width: 240px;
}
.search{
	position: relative;
	height: 43px;
	padding-top: 25px;
	border:none;
	border-bottom: 1px solid #dadada;
}
.search>a{
	position:absolute;
	top: 28px;
	right: 15px;
	color: #848484;
	font-size: 22px;
}
.search input{
	outline: none;
	padding: 0 28px 0 8px;
	box-sizing: border-box;
	margin: 0 auto;
	display: block;
	border: none;
	border-radius: 4px;
	height: 28px;
	width: 220px;
	background: #E0E0E0;
}
.icon{
	font-size: 14px;
	position: absolute;
	left: 15px;	
	font-size: 18px;
	top: 1px;
	
}
.list{
	border-right: 1px solid #dadada;
	overflow: hidden;
	height: 100%;
}
.clist li{
	position: relative;
	height: 41px;

}
.clist li:hover,.clist li>a:active{
	background: #E0E0E0;
}
.clist .lastli:hover{
	background: #fff;
}
.clist li a{
	box-sizing: border-box;
	padding-left: 49px;
	display: block;
	font-size:14px;
	line-height: 41px;
	width: 100%;
	height: 100%;
}
.bicon{
	font-size: 13px;
	font-weight: 600;
	position: absolute;
	right: 13px;
	font-style: none;
	top: 1px;
}
.particulars{
	float: left;
	width: 699px;
}
/*组件一 B*/
.title{
	box-sizing: border-box;
	padding: 24px 0 18px 20px;
	box-sizing: border-box;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.title>h1{
	font-size: 20px;
	font-weight: 500;
}
.title>a{
	display: block;
}
.minimize,.Windowed,.close{
	width: 42px;
	box-sizing: border-box;
	padding: 8px 13px;
	height: 30px;
	color:#333;
	position: absolute;
}
.minimize{
	top:0;
	right: 84px;
}
.minimize:hover{
	background: #e5e5e5;
}
.minimize:active{
	background: #cccccc;
}
.Windowed{
	top:0;
	right: 42px;
}
.Windowed:hover{
	background: #e6e6e6;
}
.Windowed:active{
	background:#cccccc;
}
.close{
	top: 0;
	right:0 ;
	border-radius: 0 4px 0 0;
}
.close:hover{
	color: #fef3f0;
	background: #f2613d;
}
.close:active{
	color: #fef3f0;
background: #d95736;
}
#ces{
	padding: 20px 0 0 45px;
}
.selectup {
	display: inline-block;
	width: 80px;
	text-align: center;
	height: 30px;
	font-size: 14px;
	position: relative;
	line-height:30px;
	background: #e0e0e0;
	color: #333333;
}
.selectup2{
	margin: 0 6px;
}
.selectup:hover {
	color: #0095f2;
}
.iconx{
	position: relative;
	top: 1px;
	font-size: 16px;
}
.selectup>ul{
	background: #fff;
	text-align: left;
	position: absolute;
	z-index: 10;
	top: 30px;
	width: 104px;
	left: 0;
	border: 1px solid #e0e0e0;
	box-shadow: 0 4px 4px #e0e0e0;
	
}
.selectup>ul>li{
	cursor:pointer;
	text-indent: 16px;
	font-size: 14px;
	color: #333;
}
.selectup>ul>li:hover{
	color: #0095f2;
}
.selectupa{
	display: inline-block;
	width: 80px;
	text-align: center;
	height: 30px;
	font-size: 14px;
	position: relative;
	line-height:30px;
	background: #e0e0e0;
	color: #333333;
	background: #0095f2;
	color: #fff;
}
#fate{
	width: 260px;
	float: left;
}
#fate .bdate,#fate .edate{
	width: 100%;
	margin-top: 20px;
	height: 30px;
}
#fate .bdate>input,#fate .edate>input{
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	border-radius: 0;
}
.multi-line{
	margin-top: 20px;
	height: 120px;
	width:100%;
	resize: none;
	box-sizing: border-box;
	outline: none;
	overflow: hidden;
	padding: 5px;
	border: 1px solid #bfcbd9;
}
.multi-line:hover{
	border-color: #8391a5;
}
.multi-line::placeholder{
	color: #b3b3b3;
}
.submit{
	display: block;
	margin-top: 30px;
	width: 100%;
	height: 30px;
	background: #0095f2;
	text-align: center;
	line-height: 30px;
	color:#fff;
	font-size: 12px;
	border-radius: 2px;
}
.submit:active{
	background: #007ecc;
}

.qlist{
	float: left;
	padding:8px 0 0 55px;
}
.qlist h4{
	color: 111111;
	font-size: 14px
	font-weight: 500;
}
.qlist li{
	padding-top: 16px;
	font-size: 12px;
	color: #808080;
}
.qdate{
	display: inline-block;
	margin-right: 32px;
}
.black{
	color: #333333;
}
.more{
	color: #25a8fa;
	float: right;
	margin:14px -20px 0 0;
}
.qlisttop{
	height: 185px;
}
.qlistb{
	padding-top: 60px;
}
.qlistb li{
	padding-top: 10px;
}
.qlistb ul{
	padding-top: 2px;
}
/*组件一 E*/