<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="css/commonality.css"/>
		<link rel="stylesheet" type="text/css" href="css/register.css"/>
	</head>
	<body>
		<div id="reg">
		<div class="blockup"><a href="javascript:window.opener=null;window.close()" class="iconfont">&#xe6e6;</a></div>
		<div class="log"></div>
		<input  type="text"  v-model='username' placeholder="用户名" id="" value="" />
		<input class="mg0"  type="password" name="" v-model='password' placeholder="密码" id="" value="" @keydown.enter="register"/>
		<p class="hint" v-text='state'></p>
		<a class="btn" @click='register' href="JavaScript:void(0)" >登录</a>
		</div>
	<script src="js/vue1028.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
