<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>

		<link rel="stylesheet" type="text/css" href="node_modules/element-ui/lib/theme-default/index.css">
		<link rel="stylesheet" type="text/css" href="css/commonality.css" />
		<link rel="stylesheet" type="text/css" href="css/system.css" />

	</head>

	<body>
		<div id="bo">

			<div class="nav">
				<a href="#"><img src="img/头像.jpg" alt="" /></a>
				<a href="#">
					<div class="iconfont fun">&#xe632;</div>
				</a>
			</div>
			<div class="content">
				<div class="list">
					<div class="search"><input type="text" placeholder="搜索" id="" value="" />
						<a href="#" class="iconfont">&#xe6f1;</a>
					</div>
					<ul class="clist">
						<li>
							<a href="#"><span class="iconfont icon">&#xe6a3;</span>图书</a>
						</li>
						<li>
							<a href="#"><span class="iconfont icon">&#xe600;</span>文章</a>
						</li>
						<li class="lastli" id="list">
							<a href="#" @click="isxiansi=!isxiansi"><span class="iconfont icon">&#xe691;</span>请假<span class="iconfont bicon">&#xe6b4;</span></a>
							<ul v-if="isxiansi">
								<li v-for="i in list">
									<a href="#" v-text='i'></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="particulars">
					<div id="zj">
						<div class="title">
						<h1>请假</h1>
						<a href="#" class="iconfont minimize">&#xe6f3;</a>
						<a href="#" class="iconfont Windowed">&#xe6fe;</a>
						<a href="#" class="iconfont close">&#xe6e6;</a>
					</div>
					<div>
						<div id="ces" >
							<div id="fate">
							<div  :class="{selectup:false,selectupa:true}" >事假</div>
							<div class="selectup2" :class="{selectup:color1,selectupa:color2}">病假</div>
							<div :class="{selectup:color1,selectupa:color2}" id="select" @click="isselect=!isselect"><span v-text='lelse' ref="isize"></span><i class="iconfont iconx">&#xe68f;</i>
								<ul v-if='isselect' @click='size'>
									<li v-for="i in list2" v-text='i' @click='lelse=i'></li>
								</ul>

							</div>
									<el-date-picker class='bdate' format='yyyy-MM-dd HH:00:00' v-model="value1" type="datetime" placeholder="选择开始时间"> </el-date-picker>
									<el-date-picker class='edate' format='yyyy-MM-dd HH:00:00' v-model="value2" type="datetime" placeholder="选择结束时间"> </el-date-picker>
									<textarea class="multi-line" placeholder="请输入请假原因（事假可不填）"></textarea>
									<a href="javascript:void(0)" class="submit">提交</a>
									<p class="pred"><span class="iconfont caution">&#xe78a;</span>本季度你已请<span>事假5天6小时</span>，超过6天的部分会后双倍薪资。</p>
						</div>
						<div class="qlist">
							<div class="qlisttop">
								<h4>请假记录</h4>
							<ul>
								<li v-for='i in leave'><span class="qdate" v-text='i.date'></span>你请了<span class="black" v-text='i.disease'></span>，请假时间是<span class="black" v-text='i.redate'></span></li>
							</ul>
							<a href="javascript:void(0);" class="more">更多</a>
							</div>
							<div class="qlistb">
								<h4>温馨提示</h4>
							<ul>
								<li>1.每月有2个小时带薪小时假</li>
								<li>2.普通事假最小单位为2个小时</li>
								<li>3.未满2小时的事假按2小时计算</li>
								<li>4.超出整点小时部分，按取整1小时计算</li>
								<li>5.每季度可请6天事假，按实际天数扣除请假日薪资</li>
							</ul>
							</div>
						</div>
						</div>

					</div>
					</div>
				</div>
			</div>
		</div>

		<script src="node_modules/vue/dist/vue.min.js"></script>
		<script src="node_modules/vue-router/dist/vue-router.js"></script>
		<script src="node_modules/element-ui/lib/index.js"></script>
		<script type="text/javascript">
			new Vue({
				el: '#bo',
				data: {
					isxiansi: false,
					isselect:false,
					lelse:'其它',
					color1:true,
					value1:'',
					value2:'',
					color2:false,
					list: ['请假', '请假审核', '历史记录'],
					list2:['例假','体检假','紧急事假','重大疾病假','婚假','产假','流产假','丧假','带薪年假',],
					leave:[
					{date:'2017-03-20',disease:'病假',redate:'1天'},
					{date:'2017-03-12',disease:'病假',redate:'2天'},
					{date:'2017-02-24',disease:'事假',redate:'1天'},
					{date:'2017-02-23',disease:'咧假',redate:'1天'},
					{date:'2017-02-14',disease:'事假',redate:'2小时'},
					]
				},
			methods:{
				selectup:function(e){
					
				},
				size:function(){
					var ize=this.$refs.isize.innerText;
					console.log(ize);
					if(ize.length > 4){
						(this.$refs.isize).style.fontSize='12px';
					}else{
						(this.$refs.isize).style.fontSize='14px';
					}
				}
				
			}
			});
		</script>
	</body>

</html>